<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Grab title from the page data and dump it here -->
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <nav class="navbar is-light">
        <div class="navbar-brand">
            <h1 class="navbar-item title is-1 has-text-centered">one billion seconds</h1>
        </div>
    </nav>
    <div class="section">
        {{ content | safe }}
    </div>

</body>
</html>
